<header>
	<div class="pag_title"><h1>PriceWatch</h1></div>
</header>
<section id="pw_presentation" class="pw_presentation">
	<h1>Encontre o que realmente pesquisou!</h1>
	<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
</section>
<div class="container">
	<%= render 'selectors' %>
	<%= render 'products' %>
</div>
<footer></footer>