// Cor principal
$primary_color:        	#3F51B5;
$primary_color_dark:   	darken($primary_color, 30%);
$primary_color_light:  	lighten($primary_color, 30%);

// Cores de texto
$primary_text_color:   	#212121;
$secondary_text_color: 	#757575;

$light_color: 			#fafafa;

// Cores de decoração
$accent_color:         	#5C6BC0;
$divider_color:        	#BDBDBD;