$product_img_size: 100%;
$primary_box_shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.44);
$secondary_box_shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.84);

button {
    cursor: pointer;
}
.action_button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 4px;
}

.products {
    background: transparent;
    color: $primary_text_color;
    padding: 20px;
    width: 70%;
    position: relative;
    transition: all 0.2s ease-in-out;
    .products_title {
        font-family: "Raleway";
        padding: 16px;
        color: #9f9f9f;
    }
    .product {
        background: white;
        margin: 0 0 14px 0;
        overflow: hidden;
        @include box-shadow($primary_box_shadow);
        .product_header {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            .product_img {
                width: 100px;
                height: 100px;
                padding: 8px;
                display: flex;
                flex: 0 auto;
                align-items: center;
                justify-content: center;
                margin-left: 8px;
                .img_box {
                    img {
                        width: $product_img_size;
                        height: $product_img_size;
                        min-width: $product_img_size;
                    }
                }
            }
            .product_name {
                height: auto;
                max-height: 100px;
                min-width: 200px;
                overflow: hidden;
                padding: 16px;
                line-height: 1.1em;
                flex: 2;
                h1 {
                    color: $primary_text_color;
                    font-weight: normal;
                    font-size: 1em;
                    line-height: 1.4em;
                }
            }
            .product_buttons {        
                height: 100px;
                display: flex;
                align-items: center;                
                width: 100%;
                justify-content: flex-end;
                @media screen and (min-width: $break_medium) {
                    width: 160px;
                    justify-content: center;
                }
                button {
                    background: transparent;
                }
                button > .material-icons {
                    color: $secondary_text_color;
                }
                .product_like {
                    &:hover > i {
                        color: #4CAF50!important;
                    }
                }
                .product_dislike {
                    &:hover > i {
                        color: #F44336!important;
                    }
                }
                .product_button_aval {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin: 4px;
                }
                .product_expand {
                    @extend .action_button;
                    margin-right: 20px;
                    background: $accent_color;
                    i {
                        color: $light_color!important;
                        font-size: 32px;
                    }
                }
            }
        }
        .product_middle {
            display: block;
            height: 0px;
            .product_features {
                padding: 16px;
                h1 {
                    color: #BDBDBD;
                    font-family: "Raleway";
                    margin-bottom: 16px;
                }
                p {
                    span {
                        line-height: 1.6em;
                        color: #757575;
                    }
                }
            }
        }
    }
    #pagination {
        width: 100%;
        height: auto;
        background: white;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include box-shadow($primary_box_shadow);
        .products_page {
            background: transparent;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            width: 16px;
            height: 16px;
            color: #9E9E9E;
            margin: 0 20px;
        }
        .current {
            border-radius: 50%;
            border: 1px solid;
        }
    }
}
@media screen and (max-width: $break_medium) {
    .products {
        width: 100%;
        .product_img {
            width: 100%!important;
            height: auto!important;
        }
        .product_name {
            text-align: center!important;
            font-size: 1.2em!important;
        }
        .product_buttons {
            justify-content: center!important;
        }
    }
}
.stores {
    background: #EEEEEE;
    width: 100%;
    min-height: 100px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    .store {
        width: 250px;
        min-width: 250px;
        min-height: 160px;
        background: #ffffff;
        margin-right: 8px;
        padding: 16px;
        .store_info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .store_logo {
                width: 64px;
                min-width: 64px;
                height: 64px;
                img {
                    width: 100%;
                }
            }
            .store_name {
                width: 100%;
                height: 64px;
                color: #757575;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 200px;
                padding: 16px;
                font-weight: bold;;
            }
        }
        .store_product_price {
            width: 100%;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5c6bc0;
            border: 1px solid #757575;
            margin: 8px 0;
            font-size: 18pt;
        }
        .store_product_sku {
            width: 100%;
            font-size: 8pt;
            margin: 8px 0;
            color: #757575;
        }
        .store_link {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            & a:hover {
                background: transparent;
            }
            .store_link_button {
                padding: 8px 16px;
                color: #796bc5;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14pt;
                i {
                    color: #796bc5!important;
                    margin-left: 8px;
                }
            }
        }
    }
}
.info_and_control {
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: auto;
    
    .average_price {
        color: #757575;
        font-size: 1.2em;
    }
}

.no_stores {
    width: 100%;
    padding: 16px;
    h1 {
        color: #F44336;
        margin-bottom: 8px;
    }
    .error {
        color: #757575;
        padding: 16px;
        border-left: 4px solid #F44336;
        background: white;
        .duck_face {

        }
    }
}

.feature {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    /* padding: 8px; */
    div {
        color: #757575;
        width: 100%;
        height: auto;
        padding: 16px 8px;
    }
    .key {
        font-weight: bold;
    }
}

.disabled {
    opacity: 0.5;
}