$break_very_small: "240px";
$break_small: "480px";
$break_medium: "800px";
$break_large: "1280px";

@import 'palette';
@import 'mixins';
@import 'products';
@import 'selectors';

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: $primary_text_color;
	text-decoration: none;
	transition: all 0.3s linear;
}

.container {
	overflow: hidden;
}

header, footer {
	width: 100%;
	height: 70px;
	background: #3d3d3d;
	display: flex;
    align-items: center;
}

header {
	h1 {
	    font-size: 2.5em;
	    font-family: "Raleway";
	    color: white;
	    margin: 0 16px;
	    letter-spacing: 3px;
	}
	.sandwich_menu {
		@media screen and (min-width: $break_medium) {
			display: none;
		}
	    width: 48px;
	    height: 48px;
	    margin-left: 16px;
	    border-radius: 50%;
	    background: transparent;
	    i {
		    color: white;
		    font-size: 36px;
		}
	}
	.pag_title {
		a {
			color: white;
		}
	}
}

#pw_presentation {
	background: image-url("pattern.jpg") fixed;
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    font-size: 1.25em;
	h1 {
	    border-bottom: 4px solid #3d3d3d;
	    color: #ffffff;
	    padding: 0 2px 12px;
	    margin-bottom: 24px;
	    font-family: "Raleway", sans-serif;
	}
    p {
    	text-align: center;
    	color: white;
	}
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #eee /*image-url("pattern.jpg") fixed*/;
    @media screen and (min-width: $break_medium) {
        padding: 36px;
    }
}