<div class="selectors">
	<h1>Categorias: </h1>
	<%= form_tag("/products", method: "get", name: "fields", remote: true) do %>
		<% @fields.each do |field, values| %>
			<%= label_tag(field, field) %>
				<% values.each do |value| %>
				<p>
					<!-- verificação se o filtro deveria estar clicado ou não -->
					<% checked = (params[field] && @fields[field].include?(params[field]) && params[field] == value)%>
					<%= check_box_tag(field, value, checked, {class: "category_type"}) %>

					<%= label_tag(value, value) %>
				</p>
			<% end %>
		<% end %>
	<% end %>
</div>